.icon {
  font-size: 4rem;
  position: relative;
  top: 10px;
  left: -6px;
}

.metricContainer {
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  color: var(--blue-800);
  margin-top: 0.3rem;
}

.secondMetricContainer {
  font-size: 1.1rem;
  text-align: right;
  color: var(--gray-800);
  margin-top: 0.1rem;
}

.metricDescription {
  font-size: 1rem;
  text-align: right;
  color: var(--gray-800);
  max-width: 60%;
  margin-left: 40%;
}
