.container {
  background-color: var(--meta-gray-opaque);
  color: #fff;
  z-index: 20;
  max-width: 600px;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: -2px;
  bottom: -70px;
  padding: 12px;
  opacity: 1;
  transition: opacity 0.3s;
}

.container > h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: left;
}

.container > p,
.container > a {
  margin: 4px 0 0;
  padding: 0;
  font-size: 0.8rem;
  text-align: left;
}

.link {
  margin: 4px 0 0;
  padding: 0;
  font-size: 0.8rem;
  color: var(--blue-600);
}
