.tooltip {
  background-color: var(--meta-gray-opaque);
  color: #fff;
  z-index: 20;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: -2px;
  bottom: -70px;
  padding: 12px;
  opacity: 1;
  transition: opacity 0.3s;
}

.textContainer {
  overflow-y: scroll;
}

.small {
  max-height: 100px;
}

.big {
  max-height: fit-content;
}

.btn {
  position: absolute;
  z-index: 6;
  bottom: 6px;
  right: 6px;
  background-color: var(--blue-300);
  color: var(--blue-600);
  padding: 3px 3px 0;
  outline: none;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--blue-100);
}

.title {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: left;
  word-break: break-all;
}

.metricName {
  font-size: 0.8rem;
  color: var(--blue-300);
  text-align: left;
  font-weight: bold;
}

.description {
  margin: 4px 0 4px;
  padding: 0;
  font-size: 0.8rem;
  text-align: left;
}
