.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.reelDescription {
  color: var(--gray-900);
  padding: 12px;
  border-radius: 4px;
  max-width: 90%;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

.bigNumber {
  font-size: 2rem;
  color: var(--blue-600);
  font-weight: bold;
  text-align: right;
}

.mediumNumber {
  font-size: 1.5rem;
  color: var(--gray-600);
  text-align: right;
}

.smallNumber {
  display: inline-block;
  position: relative;
  padding: 12px 24px 12px 30px;
  font-size: 1.1rem;
  color: var(--gray-800);
}

.smallNumbersContainer {
  padding: 0px 12px;
}

.smallIcon {
  position: absolute;
  left: -4px;
  bottom: 8px;
  font-size: 1.8rem;
  color: var(--blue-600);
}
