.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-100);
  border-radius: 6px;
}

.small {
  min-width: 25vw;
  min-height: 25vh;
}

.big {
  min-width: 50vw;
  min-height: 45vh;
}

.loader {
  border: 8px solid var(--blue-300);
  border-radius: 50%;
  border-top: 8px solid var(--blue-100);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 3s linear infinite; /* Safari */
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
