.container {
  flex: 1;
}

.mainDiv {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.chartTitle {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  color: var(--gray-800);
}

.metricName {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: var(--gray-600);

}
